/build/test-results/test/TEST-ApiTestOne.xml
/.gradle/6.5/javaCompile/taskHistory.bin
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/.idea/gradle.xml
/.gradle/vcs-1/gc.properties
/build/reports/tests/test/classes/ApiTestOne.html
